<footer class="footer">
    <div class="content has-text-centered">
        <p>
            ©2020 tinyurl.pp.ua - Tool to shorten a long link.
            <br/>
            <a href="/report.html">Report Malicious Short Link</a>|
            <a href="/terms.html">Terms of Service</a>|
            <a href="/privacy.html">Privacy</a>|
            <a href="/contact.html">Contact</a>.
        </p>
    </div>
    <!-- hit.ua -->
    <a href='http://hit.ua/?x=36976' target='_blank'>
        <script language="javascript" type="text/javascript"><!--
        Cd=document;Cr="&"+Math.random();Cp="&s=1";
        Cd.cookie="b=b";if(Cd.cookie)Cp+="&c=1";
        Cp+="&t="+(new Date()).getTimezoneOffset();
        if(self!=top)Cp+="&f=1";
        //--></script>
        <script language="javascript1.1" type="text/javascript"><!--
        if(navigator.javaEnabled())Cp+="&j=1";
        //--></script>
        <script language="javascript1.2" type="text/javascript"><!--
        if(typeof(screen)!='undefined')Cp+="&w="+screen.width+"&h="+
            screen.height+"&d="+(screen.colorDepth?screen.colorDepth:screen.pixelDepth);
        //--></script>
        <script language="javascript" type="text/javascript"><!--
        Cd.write("<sc"+"ript src='//c.hit.ua/hit?i=36976&g=0&x=3"+Cp+Cr+
            "&r="+escape(Cd.referrer)+"&u="+escape(window.location.href)+"'></sc"+"ript>");
        //--></script>
        <noscript>
            <img src='//c.hit.ua/hit?i=36976&amp;g=0&amp;x=2' border='0'/>
        </noscript></a>
    <!-- / hit.ua -->
</footer>